@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color:black;
}

/*Liens hypertextes*/
a {
    text-decoration: none;
}
a:visited {
    color: #0065FC;
}
/*Header*/
ul {
    list-style : none;
}
header{
    display : flex;
justify-content: space-between;    
align-items: flex-end;
    
}
/*Logo */
#logo {
    margin-left: 25px;
    margin-top: 15px;
}
/*Nav bar*/
nav ul {
    display: flex;

}

nav li {
    margin-right: 25px;
    margin-top : 15px;
   color: #0065FC; 
}
nav a:hover {
    border-top: 3px solid #0065FC;
    padding-top: 25px;
}
/*Header*/
/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
max-width: 60%;

 }
 

#footer {
    background-color:  #F2F2F2;

}
li:not(:last-child) {
    margin-bottom: 10px;
}
/*Footer*/

/* Police */

h1 {
    font-size: 25px;
    font-weight:900;
}
h2 {
    font-size: 15px;
}
footer li {
    font-size: 12px;
}
/*Police*/

/*Corps*/
p {
    margin-left: 25px;
}
h1 {
    margin-left: 25px;
}

/*bouton*/

#Rechercher {
    color:white;
    background-color:  #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    height : 31px;
    border: none;
    border-radius: 0px 10px 10px 0px;
position: relative;
left: -5px;
    }


::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    color:black;
}
#localisation {
    margin-left: 45px;
    height: 27.5px;
    border : solid #F2F2F2 1px;
}
#local {
    background-color:#F2F2F2;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6.5px;
    border-radius:10px 0px 0px 10px;
    margin-left: -25px;

    position : relative;
    right : -49px;

}
/*Bouton*/

/*Filtres*/

#Filtres {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    font-weight: 900 ;
}

 ul i {
    color:#0065FC;
    background-color: #DEEBFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 50%;
   

}



.Filtres {
    border: 3px solid red ;
 padding-left: 0px;
 padding-right: 10px;
 padding-bottom: 0px; 
 border-radius: 0 20px 20px 0;
}

#child {
    
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#0065FC;

    background-color:  #DEEBFF;
    position : relative;
    right : 20px;

}

#money {
 
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
    position : relative;
    right : 20px;
}

#test {
    background-color: seagreen;
}

#heart {
    position : relative;
    right : 20px;
}

#dog {
    height:20px;
    position : relative;
    right : 20px;
    top: 0px;
}

#Animaux {
    margin-bottom: 12px;
}
#Romantique {
    margin-bottom:  15.5px; 
}
#Familial {
    margin-bottom:15.5px ;

}
#Economique {
    margin-bottom:15.5px ;

}

#titre_filtres {
    position: relative;
    top : 13px;
}

#info {
    color: #0065FC;
    padding-right: 5px;
    padding-left: 5px;
    border : 2px solid #F2F2F2;
    border-radius : 50%;
}
/*Filtres*/

/*Hébergements*/

#half {
    display: flex;
}

#Hébergements {
    margin: 15px;
    flex: 3;
    max-width: 70%;
    background-color: #F2F2F2;
    border-radius: 10px;


  
}
aside {
    flex: 1.2;
    background-color: #F2F2F2;
    margin-left: 25px;
    border-radius: 10px;

}
  
    

.img_hebergements{
    

      height: 150px;
    width: 250px;
   

}

.img_populaires {
    height: 150px;
    width: 150px;
}

section p {
    display: inline-flex;
    flex-wrap: wrap;
}